/* * {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
} */

/* main {
    margin: 0;
    padding: 1rem;
} */

main {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem ;
}



.mermaid {
    height: 4rem;
    width: 4rem;
}

.club-card {
    background-color: violet;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color: white;
}

img {
    width: 80%;
    padding: 1rem 0;
    border-radius: 2rem;
}

.profile {
    width: 50%;
}

h2, h3 {
    font-size: 2rem;
    color: white;
    border-bottom: 0.2rem solid white;
    border-top: 0.2rem solid white;
    width: 100%;
    margin: 1rem 0;
}

.card-dates-dates {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /* padding: 0 2rem; */
}

li {
    border-top: 0.2rem solid;
    border-bottom: 0.2rem solid;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}

a {
    text-decoration: none;
    color: white;
    background-color: purple;
    border: 0.2rem solid white;
    border-radius: 0.3rem;
    padding: 0.2rem;

}

@media (min-width: 660px) {
    .container {
        
    }

    .card-queens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


}

@media (min-width: 950px) {
    .container {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}