* {
    box-sizing: border-box;
    font-family: "Consolas", sans-serif;
}

main {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

.main-container {
    margin: 2rem 10vw;
    background: white;
    width: 60vw;
    border-radius: 7px;
    box-shadow: 0 0 9px 5px lightgray inset;
    transition: all 1s;
}

img {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 1px 1px lightgray;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    min-width: auto;
    max-width: max-content;
}

.content>h1 {
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
}

.content>p {
    text-align: center;
    font-size: 1em;
}


.main-container:hover {
    box-shadow: 0 0 9px 5px lightgray;
}

.main-container:hover img {
    transform: scale(0.97)
}

@media (min-width: 900px) {
    .card {
        flex-direction: row;
        height: 50vh;
    }

    img {
        height: auto;
        max-width: 250px;
        object-fit: cover;
    }

    .content>p {
        font-size: 0.8em;
        text-align: left;
        margin-left: 1rem;
    }

    .content>h1 {
        text-shadow: 2px 2px 4px gray;
    }
}