* {
    margin: 0;
}
nav {
}

header{
    height: 20vh;
    max-width: 100%;
    border: 2px solid black;
}

main {
    max-width: 100%;
}

footer {
    height: 20vh;
    max-width: 100%;
    border: 2px solid black;
}