* {
    margin: 0;
}
nav {
}

header{
    height: 20vh;
    width: 100%;
    border: 2px solid black;
}

main {
    padding: 1rem;
    width: 100%;
}

footer {
    height: 20vh;
    width: 100%;
    border: 2px solid black;

}