* {
    margin: 0;
}


header{
    background-color: aqua;
    height: 20vh;
    width: 100%;
    border: 2px solid black;
}

main {
    margin: 1rem;
    background-color: antiquewhite;
    width: 100%;
}

footer {
    background-color: aqua;
    height: 20vh;
    width: 100%;
    border: 2px solid black;

}